* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 10px;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 150px;
}
.logo-top,
.logo-bottom {
  width: 86px;
  height: 41px;
  background: #e1afaf;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  line-height: 41px;
}
.logo-top {
  align-self: flex-start;
}
.logo-bottom {
  align-self: flex-end;
  width: 106px;
  background: #c86720;
}
.catalogue {
  margin-left: 27px;
}
.search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 74px;
  width: 50%;
  border-radius: 50%;
  margin-left: 247px;
}
.search input {
  width: 80%;
  height: 100%;
  background: #d9d9d9;
  outline: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
  padding-left: 42px;
  font-weight: 700;
  font-size: 24px;
}
.micro-btn {
  height: 100%;
  border: 1px solid black;
}
.search-btn {
  height: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 8px;
  background: linear-gradient(180deg, #a5550b 0%, #fff 100%);
}
.blog-row {
  margin-top: 108px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 300px;
}
.blog-col-left {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 64px;
}
.blog-link {
  width: 211px;
  height: 94px;
  background: #d9d9d9;
  border-radius: 50px;
  font-weight: 200;
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
  line-height: 94px;
  color: black;
  text-decoration: none;
  padding: 16px 48px;
}
.blog-description {
  text-align: center;
  font-weight: 200;
  font-size: 32px;
}
.blog-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.blog-bottom span {
  font-weight: 200;
  font-size: 16px;
  text-align: center;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 85px 212px 0 212px;
  margin-top: 40px;
}
.footer-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.footer-col h3 {
  font-weight: 900;
  font-size: 32px;
  text-align: center;
}
.footer-col a {
  font-weight: 200;
  font-size: 20px;
  text-align: left;
  padding-left: 16px;
  color: #000;
  text-decoration: none;
}
.contacts-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.contacts-row a {
  padding-left: 0;
}
